.nav {
	position: fixed;
	  top: var(--header-height);
	  width: 100%;

	  @media (min-width: 480px){
			width: 60%;
	  }
	  @media (min-width: 1100px){
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		width: auto;
		 background: transparent;
		 display: flex;
		 flex-direction: row;
		 align-self: center;
		 padding: 0;
	  }
  &__list {
	  @media (min-width: 1100px){
		display: flex;
		align-items: center;
		margin-bottom: 0;
	 }
	}
	&._active{
		left: 0;
		overflow-y: auto;
	}

  &__item {
	  position: relative;

	 &:after{
		 background: var(--color-accent-hover);
		 position: absolute;
		 bottom: -5px;
		 left: 0px;
		 width: 0;
		 height: 2px;
		 content: '';
		 transition: width 0.3s ease-in-out;
	 }
	 &:hover:after{
		@media (min-width: 1100px){
		 	width: 100%;
		}
		}
	}
	
	&__link {
		color: var(--color-white);
		white-space: nowrap;
		text-transform: uppercase;
		-webkit-text-stroke: 1px var(--color-white);
		-webkit-text-fill-color: transparent;
		text-shadow: 1px 1px 20px var(--color-white);
		transition: color 0.3s ease-in-out;
		&:hover{
			color: var(--color-accent-hover);
		}
		@media (min-width: 1100px){
		 text-transform: none;
		 -webkit-text-stroke: inherit;
			-webkit-text-fill-color: inherit;
			text-shadow: none;
	 }
  }
}
