<header class="header">
	<div class="header-line">
		<a href="#" class="logo header-line__logo">
			<span class="logo-wrapper">
				<svg>
					<use xlink:href="img/sprite.svg#logo"></use>
				</svg>
			</span>
			<span class="logo-text">Вездеход</span>
		</a>
		<div class="header-line__decoration"></div>
		<div class="header-line__contacts">
			<span class="header-line__phone-text">Телефон:</span><a href="tel:+75556534" class="header-line__phone">555-65-34</a> 
			<div class="header-line__separator"></div>
			<div class="header-line__address">Адрес:<span class="header-line__text">ул. Московская, 35</span>
			</div>
		</div>
		<div class="header-line__decoration"></div>
		<div class="header-menu__wrapper">
			<div class="header-menu__icon">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</header>