<div class="modals">
	<div class="modal-overlay">
		<div class="modal modal--1" data-modal-target="form-popup">
			<div class="modal-content">
				<header class="modal__header">
					<h4 class="modal__title">Оставьте заявку</h4>
					<button class="btn-close" id="modal-close">
						<svg>
							<use xlink:href="img/sprite.svg#close"></use>
						</svg>
					</button>
				</header>
				<form class="modal__form" action="#" id="form">
					<div class="modal__form-body">
						<div class="modal__form-div">
							<input autocomplete="off" type="text" name="Имя" class="form-input modal__form-input _req"
								placeholder="Ваше Имя" />
						</div>
						<div class="modal__form-div">
							<input autocomplete="off" type="tel" name="Телефон"
								class="form-input modal__form-input _phone _req" placeholder="Ваш Телефон +7 (XXX) XXX XX XX" />
						</div>
						<div class="modal__form-div dtext">
							<textarea name="Сообщение" id="" rows="3" class="form-input modal__form-textarea _req"
								placeholder="Ваше сообщение "></textarea>
						</div>
					</div>
					<div class="modal__form-footer">
						<button type="submit" class="button modal__form-btn">
							<span>Отправить</span>
						</button>
						<p>
							Нажимая на кнопку “Отправить” вы соглашаетесь с <a href="#">“Пользовательским соглашением”</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>