<div class="modals">
  <div class="modal-overlay">
    <div class="modal modal--1" data-target="form-popup">
      <div class="modal-content">
        <div class="modal-img">
          <picture>
            <source
              srcset="./img/planet.webp"
              type="image/webp"
              loading="lazy"
            />
            <img src="./img/planet.jpg" alt="Изображение" loading="lazy" />
          </picture>
        </div>
        <form class="daform" action="#" id="form">
          <div class="daform__header">
            <div class="daform__header-left">
              <div class="title daform__title">Оставьте заявку</div>
              <div class="daform__subtitle">
                Оставьте заявку и&nbsp;наш менеджер свяжется с&nbsp;вами
                в&nbsp;течение 10-15 минут
              </div>
            </div>
            <button href="tel:+" class="btn-close">
              <svg>
                <use xlink:href="img/sprite.svg#close"></use>
              </svg>
            </button>
          </div>
          <div class="daform__body">
            <div class="daform__div">
              <input
                autocomplete="off"
                type="text"
                name="Имя"
                class="daform__input _req"
                placeholder=" "
              />
              <label for="" class="daform__label">Ваше Имя<i>*</i></label>
            </div>
            <div class="daform__div">
              <input
                autocomplete="off"
                type="email"
                name="Имя"
                class="daform__input _email _req"
                placeholder=" "
              />
              <label for="" class="daform__label">Ваш E-mail<i>*</i></label>
            </div>
            <div class="daform__div">
              <input
                autocomplete="off"
                type="tel"
                name="Телефон"
                class="daform__input _phone _req"
                placeholder=" "
              />
              <label for="" class="daform__label"
                >Ваш Телефон<i>*</i> +7 (XXX) XXX XX XX</label
              >
            </div>
            <div class="daform__div dtext">
              <textarea
                name="Сообщение"
                id=""
                rows="3"
                class="daform__textarea _req"
                placeholder=" "
              ></textarea>
              <label for="" class="daform__label">Сообщение<i>*</i></label>
            </div>
          </div>
          <div class="daform__footer">
            <button type="submit" class="daform__btn btn btn--primary">
              <span>ОСТАВИТЬ ЗАЯВКУ</span>
            </button>
            <p>
              Нажимая на кнопку “Оставить заявку” вы соглашаетесь с
              <a href="#">“Пользовательским соглашением”</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
