<aside class="sidebar">
	<div class="sidebar__decoration">
		<svg>
			<use xlink:href="img/sprite.svg#decoration"></use>
		</svg>
	</div>
	<div class="sidebar__social">
		<div class="sidebar__social-wrapper social">
			<a href="#" class="social-link" target="_blank">
				<svg>
					<use xlink:href="img/sprite.svg#instagram-brands"></use>
				</svg>
			</a>
			<a href="#" class="social-link" target="_blank">
				<svg>
					<use xlink:href="img/sprite.svg#vk-brands"></use>
				</svg>
			</a>
			<a href="#" class="social-link" target="_blank">
				<svg>
					<use xlink:href="img/sprite.svg#facebook-f-brands"></use>
				</svg>
			</a>
			<a href="#" class="social-link" target="_blank">
				<svg>
					<use xlink:href="img/sprite.svg#twitter-brands"></use>
				</svg>
			</a>
		</div>
	</div>
	<div class="sidebar__share">
		<svg>
			<use xlink:href="img/sprite.svg#share-solid"></use>
		</svg>
	</div>
</aside>