<section class="slider">
  <div class="slider-text">
    <div class="swiper-wrapper">
      <div class="swiper-slide slider-text__slide">
        <div class="slider-text__content">
          <h2 class="slider-text__heading">
            Подбор внедорожника <span>на любой</span> случай
          </h2>
          <p class="slider-text__desc">
            Выберем и подберём для вас любой вне&shy;дорожник в кратчайшие сроки, с
            учётом всех ваших пожеланий и всех необхо&shy;димых потребностей.
          </p>
          <button data-modal-path="form-popup" class="button slider-text__button modal-open">
            <span>Оставить заявку</span>
          </button>
        </div>
      </div>
      <div class="swiper-slide slider-text__slide">
        <div class="slider-text__content">
          <h2 class="slider-text__heading">
            Индивидуальный подход <span>к каждому</span> покупателю
          </h2>
          <p class="slider-text__desc">
            Все автомобили мы подбираем индиви&shy;дуально для каждого клиента или
            покупателя и с трепетом относимся к результату нашей работы.
          </p>
          <button data-micromodal-open="modal-1" class="button slider-text__button">
            <span>Оставить заявку</span>
          </button>
        </div>
      </div>
      <div class="swiper-slide slider-text__slide">
        <div class="slider-text__content">
          <h2 class="slider-text__heading">
            Выбор лучшей модели <span>из модельного</span> ряда
          </h2>
          <p class="slider-text__desc">
            В нашем модельном ряду имеются модели сотен различных вне&shy;дорожников,
            которые удовлетворят даже самого требо&shy;вательного клиента.
          </p>
          <button data-micromodal-open="modal-1" class="button slider-text__button">
            <span>Оставить заявку</span>
          </button>
        </div>
      </div>
      <div class="swiper-slide slider-text__slide">
        <div class="slider-text__content">
          <h2 class="slider-text__heading">
            Подбор внедорожника <span>на любой</span> случай
          </h2>
          <p class="slider-text__desc">
            Выберем и подберём для вас любой вне&shy;дорожник в кратчайшие сроки, с
            учётом всех ваших пожеланий и всех необходимых потребностей.
          </p>
          <button data-micromodal-open="modal-1" class="button slider-text__button">
            <span>Оставить заявку</span>
          </button>
        </div>
      </div>
      <div class="swiper-slide slider-text__slide">
        <div class="slider-text__content">
          <h2 class="slider-text__heading">
            Индивидуальный подход <span>к каждому</span> покупателю
          </h2>
          <p class="slider-text__desc">
            Все автомобили мы подбираем инди&shy;видуально для каждого клиента или
            покупателя и с трепетом относимся к результату нашей работы.
          </p>
          <button data-micromodal-open="modal-1" class="button slider-text__button">
            <span>Оставить заявку</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-img">
    <div class="swiper-wrapper">
      <div class="swiper-slide slider-img__slide">
        <div class="slider-img__bg lazy" data-swiper-parallax="20%" style="background-image: url(./img/slide/1.jpg);">
        </div>
      </div>
      <div class="swiper-slide slider-img__slide">
        <div class="slider-img__bg lazy" data-swiper-parallax="20%" style="background-image: url(./img/slide/2.jpg);">
        </div>
      </div>
      <div class="swiper-slide slider-img__slide">
        <div class="slider-img__bg lazy" data-swiper-parallax="20%" style="background-image: url(./img/slide/3.jpg);">
        </div>
      </div>
      <div class="swiper-slide slider-img__slide">
        <div class="slider-img__bg lazy" data-swiper-parallax="20%" style="background-image: url(./img/slide/1.jpg);">
        </div>
      </div>
      <div class="swiper-slide slider-img__slide">
        <div class="slider-img__bg lazy" data-swiper-parallax="20%" style="background-image: url(./img/slide/1.jpg);">
        </div>
      </div>
    </div>

    <div class="slider-bottom">
      <div class="slider-bottom__share share-bottom">
        <a href="#" target="_blank" class="share-bottom__link">
          <svg>
            <use xlink:href="img/sprite.svg#vk-brands"></use>
          </svg>
        </a>
        <a href="#" target="_blank" class="share-bottom__link">
          <svg>
            <use xlink:href="img/sprite.svg#vk-brands"></use>
          </svg>
        </a>
      </div>
      <div class="slider-bottom__pagination">
        <div class="swiper-pagination"></div>
      </div>
      <div class="slider-bottom__scrollbar">
        <div class="swiper-scrollbar"></div>
      </div>
      <div class="slider-bottom__navigation">
        <div class="slider-navigation__container">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-pagination-count">
    <span class="current">01</span> / <span class="total"></span>
  </div>

  <div class="slider-pagination-current">
    <span class="slider-pagination-current__num">01</span>
    <span class="slider-pagination-current__dot">.</span>
  </div>
  <div class="slider-gear">
    <svg>
      <use xlink:href="img/sprite.svg#gear"></use>
    </svg>
  </div>
</section>
